.root {
  //background: linear-gradient(to top, black, cyan);
  background: linear-gradient(#141e30, #243b55, #141e30);
  position: fixed;
  z-index: 1;
  width: 100vw;
  padding: 10px 0;
  //border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background: linear-gradient(#243b55, #141e30);
  color: #03e9f4;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background-color: #03e9f4;
    color: #F5F5F5;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}
