*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background-color: #F5F5F5 !important;
  //background: linear-gradient(#243b55,#141e30, #243b55);
  //background: linear-gradient(to top, black, cyan);
  background: url("assets/космос.jpg") no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100vh;
}